body {
    background: #232931 !important;
    color: #eeeeee !important;
    font-family: 'Roboto', sans-serif !important;
    transition: all 2s !important;
    text-shadow: 1.5px 1.5px #232931 !important;
}

.bg-color {
    background: #393e46 !important;
}

a {
    color: #4ecca3;
    text-decoration: none;
}

.text-theme {
    color: #4ecca3;
}

a:hover, a:active {
    color: #219c73;
    text-decoration: none;
}

footer {
    background-color: #4ecca3;;
}

.footer-link {
    color: #fff;
    text-decoration: none;
}

.footer-link:hover, .footer-link:active {
    color: #e4e4e4;
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #393e46;
}

::-webkit-scrollbar-thumb {
    background: #4ecca3;
}

::-webkit-scrollbar-thumb:hover {
    background: #219c73;
}

.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: .3rem;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center top !important;
    transition: transform 1s !important;
}

.card, a, .footer-link {
    transition: transform 1s !important;
}

.jumbotron:hover, .card:hover {
    transform: scale(1.013) !important;
}

a:hover, .footer-link {
    transform: scale(1.05) !important;
}

.jumbotron > .tirp-btn-group > .btn {
    text-shadow: none !important;
}

.btn-light:hover {
    background-color: #ececec !important;
    border-color: #ececec !important;
}

.imperium-summary {
    background-image: url(img/summary.png) !important;
}

.political-system {
    background-image: url(img/gov.jpg) !important;
    background-position: center 75% !important;
}

.planet-info {
    background-image: url(img/planet.jpg) !important;
    background-position: center 75% !important;
}

.jumbotron, .card, nav, footer {
    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
}
